@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  color: rgb(182, 193, 196);
  background-color: rgba(7,9,11);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --radius: 0.625rem;
  --background: rgb(7, 9, 11);
  --foreground: rgb(182, 193, 196);
  --card: rgb(7, 9, 11);
  --card-foreground: rgb(182, 193, 196);
  --popover: rgb(7, 9, 11);
  --popover-foreground: rgb(182, 193, 196);
  --primary: rgb(182, 193, 196);
  --primary-foreground: rgb(7, 9, 11);
  --secondary: rgb(30, 41, 59);
  --secondary-foreground: rgb(182, 193, 196);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: rgb(30, 41, 59);
  --accent-foreground: rgb(182, 193, 196);
  --destructive: rgb(239, 68, 68);
  --border: rgb(30, 41, 59);
  --input: rgb(30, 41, 59);
  --ring: rgb(148, 163, 184);
  --chart-1: rgb(239, 68, 68);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(59, 130, 246);
  --chart-4: rgb(234, 179, 8);
  --chart-5: rgb(168, 85, 247);
  --sidebar: rgb(7, 9, 11);
  --sidebar-foreground: rgb(182, 193, 196);
  --sidebar-primary: rgb(239, 68, 68);
  --sidebar-primary-foreground: rgb(7, 9, 11);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(182, 193, 196);
  --sidebar-border: rgb(30, 41, 59);
  --sidebar-ring: rgb(148, 163, 184);
}

body {
  background: radial-gradient(at 50% 50%, hsla(210, 100%, 16%, 0.621), hsl(220, 30%, 5%));
  background-attachment: fixed;
}

.theme-cyan {
  color: rgb(182, 193, 196);
  background-color: rgba(7,9,11);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --radius: 0.625rem;
  --background: rgb(7, 9, 11);
  --foreground: rgb(182, 193, 196);
  --card: rgb(7, 9, 11);
  --card-foreground: rgb(182, 193, 196);
  --popover: rgb(7, 9, 11);
  --popover-foreground: rgb(182, 193, 196);
  --primary: rgb(26, 58, 67);
  --primary-foreground: rgb(7, 9, 11);
  --secondary: rgb(30, 41, 59);
  --secondary-foreground: rgb(182, 193, 196);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: rgb(30, 41, 59);
  --accent-foreground: rgb(182, 193, 196);
  --destructive: rgb(239, 68, 68);
  --border: rgb(30, 41, 59);
  --input: rgb(30, 41, 59);
  --ring: rgb(148, 163, 184);
  --chart-1: rgb(239, 68, 68);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(59, 130, 246);
  --chart-4: rgb(234, 179, 8);
  --chart-5: rgb(168, 85, 247);
  --sidebar: rgb(7, 9, 11);
  --sidebar-foreground: rgb(182, 193, 196);
  --sidebar-primary: rgb(239, 68, 68);
  --sidebar-primary-foreground: rgb(7, 9, 11);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(182, 193, 196);
  --sidebar-border: rgb(30, 41, 59);
  --sidebar-ring: rgb(148, 163, 184);
  --sidebar-gradient-start: rgba(1, 58, 79, 0.837);
  --sidebar-gradient-end: rgba(3, 46, 55, 0);
  --sidebar-user-info-background: rgba(82, 111, 118, 0.422);
  --sidebar-chat-background: rgba(36, 96, 112, 0.672);
  --chat-box-background: rgba(4, 33, 45, 0.449);
  --own-message: rgba(24, 30, 32, 0.736);
  --other-message: rgba(66, 74, 81, 0.736);
  --chat-input: rgba(31, 47, 56, 0.619);
  --profile-settings-gradient-start: rgb(2, 2, 2);
  --profile-settings-gradient-middle: rgb(14, 33, 49);
  --profile-settings-gradient-end: rgb(1, 109, 136);
}

.theme-blue {
  color: rgb(182, 193, 196);
  background-color: rgba(7,9,11);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --radius: 0.625rem;
  --background: rgb(7, 9, 11);
  --foreground: rgb(182, 193, 196);
  --card: rgb(7, 9, 11);
  --card-foreground: rgb(182, 193, 196);
  --popover: rgb(7, 9, 11);
  --popover-foreground: rgb(182, 193, 196);
  --primary: rgb(26, 58, 67);
  --primary-foreground: rgb(7, 9, 11);
  --secondary: rgb(30, 41, 59);
  --secondary-foreground: rgb(182, 193, 196);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: rgb(30, 41, 59);
  --accent-foreground: rgb(182, 193, 196);
  --destructive: rgb(239, 68, 68);
  --border: rgb(30, 41, 59);
  --input: rgb(30, 41, 59);
  --ring: rgb(148, 163, 184);
  --chart-1: rgb(239, 68, 68);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(59, 130, 246);
  --chart-4: rgb(234, 179, 8);
  --chart-5: rgb(168, 85, 247);
  --sidebar: rgb(7, 9, 11);
  --sidebar-foreground: rgb(182, 193, 196);
  --sidebar-primary: rgb(239, 68, 68);
  --sidebar-primary-foreground: rgb(7, 9, 11);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(182, 193, 196);
  --sidebar-border: rgb(30, 41, 59);
  --sidebar-ring: rgb(148, 163, 184);
  --sidebar-gradient-start: rgba(3, 37, 65, 0.837);
  --sidebar-gradient-end: rgba(2, 11, 35, 0.209);
  --sidebar-user-info-background: rgba(44, 50, 62, 0.422);
  --sidebar-chat-background: rgba(27, 54, 78, 0.672);
  --chat-box-background: rgba(5, 8, 23, 0.449);
  --own-message: rgba(24, 30, 32, 0.736);
  --other-message: rgba(66, 74, 81, 0.736);
  --chat-input: rgba(23, 34, 44, 0.619);
  --profile-settings-gradient-start: rgb(2, 2, 2);
  --profile-settings-gradient-middle: rgb(21, 30, 47);
  --profile-settings-gradient-end: rgb(2, 26, 65);
}

.theme-black {
  color: rgb(59, 59, 59);
  background-color: rgb(0, 0, 0);
  --radius: 0.625rem;
  --background: rgb(0, 0, 0);
  --foreground: rgb(189, 190, 191);
  --card: rgb(45, 137, 229);
  --card-foreground: rgb(52, 132, 155);
  --popover: rgb(13, 13, 15);
  --popover-foreground: rgb(142, 142, 142);
  --primary: rgb(33, 172, 210);
  --primary-foreground: rgb(7, 9, 11);
  --secondary: rgb(30, 41, 59);
  --secondary-foreground: rgb(182, 193, 196);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: rgb(30, 41, 59);
  --accent-foreground: rgb(182, 193, 196);
  --destructive: rgb(239, 68, 68);
  --border: rgb(30, 41, 59);
  --input: rgb(30, 41, 59);
  --ring: rgb(148, 163, 184);
  --chart-1: rgb(239, 68, 68);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(59, 130, 246);
  --chart-4: rgb(234, 179, 8);
  --chart-5: rgb(168, 85, 247);
  --sidebar: rgb(7, 9, 11);
  --sidebar-foreground: rgb(57, 96, 107);
  --sidebar-primary: rgb(239, 68, 68);
  --sidebar-primary-foreground: rgb(7, 9, 11);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(182, 193, 196);
  --sidebar-border: rgb(30, 41, 59);
  --sidebar-ring: rgb(148, 163, 184);
  --sidebar-gradient-start: rgba(9, 12, 26, 0.954);
  --sidebar-gradient-end: rgba(17, 17, 20, 0.587);
  --sidebar-user-info-background: rgba(31, 38, 55, 0.422);
  --sidebar-chat-background: rgba(27, 35, 61, 0.629);
  --chat-box-background: rgba(5, 5, 8, 0.633);
  --own-message: rgba(40, 40, 52, 0.736);
  --other-message: rgba(73, 73, 105, 0.736);
  --chat-input: rgba(37, 40, 52, 0.718);
  --profile-settings-gradient-start: rgb(2, 2, 2);
  --profile-settings-gradient-middle: rgb(26, 26, 32);
  --profile-settings-gradient-end: rgb(2, 6, 31);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Para Webkit (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #1f2937; /* Color del fondo de la barra */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #4b5563; /* Color del thumb (la parte que se mueve) */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Color al hacer hover */
}

.custom-scroll::-webkit-scrollbar-corner {
    background: #1f2937; /* Color de la esquina cuando hay scroll horizontal y vertical */
}

/* Para Firefox */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
}